/* Group 10 */

box-sizing: border-box;

position: relative;
width: 190px;
height: 176px;

border: 1px dashed #8A38F5;
border-radius: 5px;


/* Property 1=Default */

position: absolute;
width: 158px;
height: 64px;
left: 16px;
top: 16px;



/* Rectangle 3 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #00FF15;
border-width: 2px 6px 6px 2px;
border-style: solid;
border-color: #141B18;
box-shadow: inset 1.6px 1.6px 1.6px #FFFFFF;


/* Forever */

position: absolute;
width: 160px;
left: calc(50% - 160px/2 + 0.8px);
top: 22.75%;
bottom: 25.49%;

font-family: 'Advercase Demo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* or 29px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

color: #141B18;



/* Property 1=Variant2 */

position: absolute;
width: 158px;
height: 64px;
left: 17.47px;
top: 94px;



/* Rectangle 3 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #00FF15;
border-width: 2px 6px 6px 2px;
border-style: solid;
border-color: #141B18;
box-shadow: inset 1.6px 1.6px 1.6px #FFFFFF;


/* and ever */

position: absolute;
width: 160px;
left: calc(50% - 160px/2 + 0.8px);
top: 22.75%;
bottom: 25.49%;

font-family: 'Advercase Demo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* or 29px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

color: #141B18;

