/* ph:copy */

box-sizing: border-box;

position: relative;
width: 92px;
height: 168px;

border: 1px dashed #8A38F5;
border-radius: 5px;


/* Property 1=Default */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px;
gap: 8px;

position: absolute;
width: 60px;
height: 60px;
left: 16px;
top: 16px;

background: rgba(220, 236, 221, 0.1);
border-radius: 56px;


/* Vector */

width: 20px;
height: 20px;

background: #DCECDD;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Property 1=Variant2 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px;
gap: 8px;

position: absolute;
width: 60px;
height: 60px;
left: 16px;
top: 92px;

background: rgba(220, 236, 221, 0.2);
border-radius: 56px;


/* Vector */

width: 20px;
height: 20px;

background: #DCECDD;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;