/* FOREVER LOVED MOBILE */

position: relative;
width: 375px;
height: 2552px;

/* Blackish */
background: #141B18;


/* Group 15 */

position: absolute;
width: 343px;
height: 500px;
left: calc(50% - 343px/2);
top: 100px;



/* Mask group */

position: absolute;
width: 343px;
height: 500px;
left: calc(50% - 343px/2);
top: 100px;



/* Rectangle 6 */

position: absolute;
width: 343px;
height: 500px;
left: calc(50% - 343px/2);
top: 100px;

background: linear-gradient(180deg, #D9D9D9 83.66%, rgba(115, 115, 115, 0) 100%);
border-radius: 16px;


/* Rectangle 5 */

position: absolute;
width: 343px;
height: 500px;
left: calc(50% - 343px/2);
top: 100px;

background: linear-gradient(180deg, #691E85 0%, rgba(43, 33, 146, 0.75) 50%, rgba(20, 27, 24, 0) 100%);


/* Mask group */

position: absolute;
width: 342.8px;
height: 490.53px;
left: 16.2px;
top: 100px;



/* Rectangle 7 */

position: absolute;
width: 342.8px;
height: 490.53px;
left: calc(50% - 342.8px/2 + 0.1px);
top: 100px;

background: linear-gradient(180deg, #D9D9D9 89.43%, rgba(20, 27, 24, 0) 100%);


/* Group 15 */

position: absolute;
width: 133.68px;
height: 689.47px;
left: 120.56px;
top: -231.05px;



/* Group 1 */

position: absolute;
width: 133.68px;
height: 689.47px;
left: 120.56px;
top: -231.05px;

opacity: 0.8;


/* Polygon 2 */

position: absolute;
width: 114.27px;
height: 563.68px;
left: calc(50% - 114.27px/2 - 0.1px);
top: -105.26px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 58.23%, rgba(255, 255, 255, 0.15) 97.08%);
opacity: 0.5;
filter: blur(75px);


/* Polygon 4 */

position: absolute;
width: 133.68px;
height: 689.47px;
left: calc(50% - 133.68px/2 - 0.1px);
top: -231.05px;

background: linear-gradient(180deg, rgba(237, 210, 255, 0.375) 34.2%, rgba(255, 255, 255, 0.3) 100%);
mix-blend-mode: overlay;
filter: blur(72px);


/* Polygon 5 */

position: absolute;
width: 40.45px;
height: 448.42px;
left: calc(50% - 40.45px/2 - 0px);
top: 1.58px;

background: linear-gradient(180deg, #EDD2FF 18.81%, rgba(255, 255, 255, 0.5) 95.53%);
mix-blend-mode: overlay;
filter: blur(72px);


/* Christmas Snow GIF by Luicella's Ice Cream 1 */

position: absolute;
width: 57.87px;
height: 102.88px;
left: calc(50% - 57.87px/2 - 0.14px);
top: 97.68px;

background: url(Christmas Snow GIF by Luicella's Ice Cream.png);
mix-blend-mode: color-dodge;
opacity: 0.75;
transform: rotate(-180deg);


/* Christmas Snow GIF by Luicella's Ice Cream 3 */

position: absolute;
width: 57.87px;
height: 102.88px;
left: calc(50% - 57.87px/2 - 19.43px);
top: 290.87px;

background: url(Christmas Snow GIF by Luicella's Ice Cream.png);
mix-blend-mode: color-dodge;
opacity: 0.65;
transform: rotate(-166.65deg);


/* Christmas Snow GIF by Luicella's Ice Cream 4 */

position: absolute;
width: 56.62px;
height: 100.66px;
left: calc(50% - 56.62px/2 - 17.44px);
top: 289.41px;

background: url(Christmas Snow GIF by Luicella's Ice Cream.png);
mix-blend-mode: color-dodge;
opacity: 0.65;
transform: rotate(157.12deg);


/* Christmas Snow GIF by Luicella's Ice Cream 2 */

position: absolute;
width: 82.22px;
height: 146.16px;
left: calc(50% - 82.22px/2 - 0.2px);
top: 259.02px;

background: url(Christmas Snow GIF by Luicella's Ice Cream.png);
mix-blend-mode: color-dodge;
opacity: 0.6;
transform: rotate(-180deg);


/* Mask group */

position: absolute;
width: 211.26px;
height: 20px;
left: calc(50% - 211.26px/2 + 0.13px);
top: 64px;



/* Group 12 */

position: absolute;
width: 211.26px;
height: 20px;
left: calc(50% - 211.26px/2 + 0.13px);
top: 64px;



/* Layer_1 */

position: absolute;
width: 39.9px;
height: 20px;
left: 177px;
top: 64px;



/* Vector */

position: absolute;
left: 0.15%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 9.23%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 18.99%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 28.75%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 38.32%;
right: 50.05%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 46.56%;
right: 50.04%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 49.96%;
right: 49.96%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.03%;
right: 0.15%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.04%;
right: 9.22%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.03%;
right: 18.99%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.03%;
right: 28.75%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.04%;
right: 38.32%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.03%;
right: 46.56%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Group 10 */

position: absolute;
width: 88.1px;
height: 20px;
left: 82px;
top: 64px;



/* Vector */

position: absolute;
height: 19.66px;
left: 21.87%;
right: 74.63%;
top: 64px;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
height: 15.56px;
left: 25.41%;
right: 70.72%;
top: 68.44px;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
height: 15.22px;
left: 29.54%;
right: 68.2%;
top: 68.44px;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
height: 15.56px;
left: 31.8%;
right: 64.47%;
top: 68.44px;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
height: 14.89px;
left: 35.28%;
right: 60.63%;
top: 68.78px;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
height: 15.56px;
left: 39.11%;
right: 57.16%;
top: 68.44px;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
height: 15.22px;
left: 43.09%;
right: 54.64%;
top: 68.44px;

/* Whiteish */
background: #DCECDD;


/* Group 11 */

position: absolute;
width: 69.6px;
height: 20px;
left: 223.66px;
top: 64px;



/* Vector */

position: absolute;
height: 19.66px;
left: 59.64%;
right: 36.92%;
top: 64px;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
height: 15.56px;
left: 63%;
right: 33.12%;
top: 68.44px;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
height: 14.89px;
left: 66.62%;
right: 29.29%;
top: 68.78px;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
height: 15.56px;
left: 70.46%;
right: 25.82%;
top: 68.44px;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
height: 20px;
left: 74.4%;
right: 21.8%;
top: 64px;

/* Whiteish */
background: #DCECDD;


/* Frame 43 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 64px;

position: absolute;
width: 343px;
height: 1264px;
left: 16px;
top: 899px;



/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 16px;
gap: 32px;

width: 343px;
height: 652px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Forever Loved is a simple way to make sure the work you publish online never disappears. */

width: 311px;
height: 246px;

font-family: 'Advercase Demo';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 114%;
/* or 41px */

/* Green 1 */
color: #00FF15;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* When you archive a project it’s stored on the Permaweb, a decentralized network designed for long-term data storage. You can see it as the internet of permanent pages. Files are distributed across hundreds of independent nodes instead of a single server, which means they can’t be lost to expired domains, forgotten passwords, or a cloud provider going offline. The system uses a one-time payment model rather than monthly subscriptions, so your work stays accessible no matter what. For builders using Lovable, this service is currently free; a small thank-you from the Arweave ecosystem to every builder shaping and keeping the internet alive. */

width: 311px;
height: 374px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

/* Whiteish */
color: #DCECDD;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 13 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 16px;
gap: 24px;

width: 343px;
height: 548px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 18 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 16px;

width: 282px;
height: 97px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 12 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10.7143px;
gap: 5.36px;

width: 60px;
height: 60px;

/* Whiteish */
background: #DCECDD;
box-shadow: 0px 4.01786px 0px #161617;
border-radius: 10.7143px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* image 1 */

width: 38.57px;
height: 39.38px;

background: url(bg_removal [Background removed]);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Create and publish your build on Lovable. */

width: 282px;
height: 21px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
text-align: center;

/* Whiteish */
color: #DCECDD;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 1 */

width: 70px;
height: 0px;

/* Gray 1 */
border: 2px solid #5C675D;
transform: rotate(90deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 19 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 16px;

width: 311px;
height: 118px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Group 10 */

width: 148px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 3 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Green 1 */
background: #00FF15;
/* Blackish */
border-width: 2px 6px 6px 2px;
border-style: solid;
border-color: #141B18;
box-shadow: inset 1.6px 1.6px 1.6px #FFFFFF;


/* Forever */

position: absolute;
width: 160px;
left: calc(50% - 160px/2 + 0.8px);
top: 22.75%;
bottom: 25.49%;

font-family: 'Advercase Demo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* or 29px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

/* Blackish */
color: #141B18;



/* Paste your Lovable build URL and press “Forever”. */

width: 311px;
height: 42px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* or 21px */
display: flex;
align-items: center;
text-align: center;

/* Whiteish */
color: #DCECDD;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Line 4 */

width: 70px;
height: 0px;

/* Gray 1 */
border: 2px solid #5C675D;
transform: rotate(90deg);

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Frame 20 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 16px;

width: 216px;
height: 97px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Layer_1 */

width: 119.72px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0.15%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 9.23%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 18.99%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 28.75%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 38.32%;
right: 50.04%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 46.57%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 49.97%;
right: 49.96%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.03%;
right: 0.15%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.04%;
right: 9.22%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.03%;
right: 18.99%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.03%;
right: 28.75%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.04%;
right: 38.32%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.03%;
right: 46.57%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Your build is now part of infinity. */

width: 216px;
height: 21px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
text-align: center;

/* Whiteish */
color: #DCECDD;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 10 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 82px;
height: 51px;
left: calc(50% - 82px/2 + 0.5px);
top: 720px;



/* Scroll down */

width: 82px;
height: 19px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 120%;
/* or 19px */
text-align: center;

/* Green 1 */
color: #00FF15;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* iconoir:maps-arrow */

width: 24px;
height: 24px;

transform: rotate(-180deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 15.09%;
right: 15.09%;
top: 18.63%;
bottom: 18.84%;

/* Green 1 */
border: 1.5px solid #00FF15;
transform: rotate(-180deg);


/* Frame 46 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 64px;

position: absolute;
width: 375px;
height: 224px;
left: 0px;
top: 2270px;



/* Line 5 */

width: 375px;
height: 0px;

border: 1px solid rgba(220, 236, 221, 0.25);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 33 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 16px;
gap: 26px;

width: 343px;
height: 160px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 45 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

width: 311px;
height: 68px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 32 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 12px;

width: 311px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Keep your work alive. */

width: 250px;
height: 30px;

font-family: 'Advercase Demo';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 114%;
/* identical to box height, or 30px */
text-align: center;

/* Green 1 */
color: #00FF15;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 44 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 12px;

width: 307.26px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Make it */

width: 84px;
height: 30px;

font-family: 'Advercase Demo';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 114%;
/* identical to box height, or 30px */
text-align: center;

/* Green 1 */
color: #00FF15;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Mask group */

width: 211.26px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group 12 */

position: absolute;
width: 211.26px;
height: 20px;
left: calc(50% - 211.26px/2 + 48px);
top: 5px;



/* Layer_1 */

position: absolute;
width: 39.9px;
height: 20px;
left: 191px;
top: 5px;



/* Vector */

position: absolute;
left: 0.15%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.192014px solid #00FF15;


/* Vector */

position: absolute;
left: 9.23%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.192014px solid #00FF15;


/* Vector */

position: absolute;
left: 18.99%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.192014px solid #00FF15;


/* Vector */

position: absolute;
left: 28.75%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.192014px solid #00FF15;


/* Vector */

position: absolute;
left: 38.32%;
right: 50.04%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.192014px solid #00FF15;


/* Vector */

position: absolute;
left: 46.56%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.192014px solid #00FF15;


/* Vector */

position: absolute;
left: 49.97%;
right: 49.96%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.192014px solid #00FF15;


/* Vector */

position: absolute;
left: 50.03%;
right: 0.15%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.192014px solid #00FF15;


/* Vector */

position: absolute;
left: 50.04%;
right: 9.22%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.192014px solid #00FF15;


/* Vector */

position: absolute;
left: 50.03%;
right: 18.99%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.192014px solid #00FF15;


/* Vector */

position: absolute;
left: 50.03%;
right: 28.75%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.192014px solid #00FF15;


/* Vector */

position: absolute;
left: 50.04%;
right: 38.32%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.192014px solid #00FF15;


/* Vector */

position: absolute;
left: 50.03%;
right: 46.57%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.192014px solid #00FF15;


/* Group 10 */

position: absolute;
width: 88.1px;
height: 20px;
left: 96px;
top: 5px;



/* Vector */

position: absolute;
left: 31.24%;
right: 64.48%;
top: 16.67%;
bottom: 17.79%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 35.57%;
right: 59.7%;
top: 31.46%;
bottom: 16.67%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 40.61%;
right: 56.63%;
top: 31.46%;
bottom: 17.79%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 43.37%;
right: 52.08%;
top: 31.46%;
bottom: 16.67%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 47.61%;
right: 47.4%;
top: 32.58%;
bottom: 17.79%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 52.29%;
right: 43.16%;
top: 31.46%;
bottom: 16.67%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 57.15%;
right: 40.08%;
top: 31.46%;
bottom: 17.79%;

/* Green 1 */
background: #00FF15;


/* Group 11 */

position: absolute;
width: 69.6px;
height: 20px;
left: 237.66px;
top: 5px;



/* Vector */

position: absolute;
left: 77.35%;
right: 18.46%;
top: 16.67%;
bottom: 17.79%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 81.45%;
right: 13.82%;
top: 31.46%;
bottom: 16.67%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 85.87%;
right: 9.14%;
top: 32.58%;
bottom: 17.79%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 90.55%;
right: 4.9%;
top: 31.46%;
bottom: 16.67%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 95.36%;
right: 0%;
top: 16.67%;
bottom: 16.67%;

/* Green 1 */
background: #00FF15;


/* Powered by Ario – decentralized storage backed by cryptographic proof.Built by builders, for builders. */

width: 311px;
height: 66px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
text-align: center;

/* Whiteish */
color: #DCECDD;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 48 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

position: absolute;
width: 311px;
height: 435px;
left: 32px;
top: 164px;



/* Frame 49 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 311px;
height: 231px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Done! */

width: 311px;
height: 48px;

font-family: 'Advercase Demo';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 114%;
/* identical to box height, or 48px */
display: flex;
align-items: center;
text-align: center;

/* Green 1 */
color: #00FF15;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 37 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 311px;
height: 167px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Your project is now safely stored forever — and this is its new home: */

width: 311px;
height: 44px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
text-align: center;

/* Whiteish */
color: #DCECDD;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 38 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 311px;
height: 54px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 36 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 8px;

width: 311px;
height: 54px;

background: rgba(20, 27, 24, 0.5);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* https://lorem-ipsum.dolores/324152 */

width: 247px;
height: 22px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
text-align: center;

/* Whiteish */
color: #DCECDD;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 40 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 311px;
height: 37px;

background: rgba(220, 236, 221, 0.1);
border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* How it works */

width: 63px;
height: 21px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
text-align: center;

/* Green 1 */
color: #00FF15;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 42 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 311px;
height: 172px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* No domain to register. No credit card required. No renewal reminders. Just a permanent home for your work. */

width: 311px;
height: 66px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
text-align: center;

/* Whiteish */
color: #DCECDD;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 41 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 311px;
height: 90px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 29 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 311px;
height: 37px;

background: rgba(220, 236, 221, 0.1);
border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* How it works */

width: 146px;
height: 21px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
text-align: center;

/* Green 1 */
color: #00FF15;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 40 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 311px;
height: 37px;

background: rgba(220, 236, 221, 0.1);
border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* How it works */

width: 124px;
height: 21px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
text-align: center;

/* Green 1 */
color: #00FF15;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
