/* FOREVER LOVED */

position: relative;
width: 1728px;
height: 2157px;

/* Blackish */
background: #141B18;


/* Group 14 */

position: absolute;
width: 1696px;
height: 950px;
left: calc(50% - 1696px/2);
top: 54px;



/* Mask group */

position: absolute;
width: 1696px;
height: 950px;
left: calc(50% - 1696px/2);
top: 54px;



/* Rectangle 6 */

position: absolute;
width: 1696px;
height: 950px;
left: calc(50% - 1696px/2);
top: 54px;

background: linear-gradient(180deg, #D9D9D9 83.66%, rgba(115, 115, 115, 0) 100%);
border-radius: 16px;


/* Rectangle 5 */

position: absolute;
width: 1696px;
height: 950px;
left: calc(50% - 1696px/2);
top: calc(50% - 950px/2 - 549.5px);

background: linear-gradient(180deg, #691E85 0%, rgba(43, 33, 146, 0.75) 50%, rgba(20, 27, 24, 0) 100%);


/* Mask group */

position: absolute;
width: 1695px;
height: 932px;
left: 17px;
top: 54px;



/* Rectangle 7 */

position: absolute;
width: 1695px;
height: 932px;
left: calc(50% - 1695px/2 + 0.5px);
top: 54px;

background: linear-gradient(180deg, #D9D9D9 89.43%, rgba(20, 27, 24, 0) 100%);


/* Group 15 */

position: absolute;
width: 661px;
height: 1310px;
left: 533px;
top: -575px;



/* Group 1 */

position: absolute;
width: 661px;
height: 1310px;
left: 533px;
top: -575px;

opacity: 0.8;


/* Polygon 2 */

position: absolute;
width: 565px;
height: 1071px;
left: calc(50% - 565px/2 - 0.5px);
top: -336px;

background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 58.23%, rgba(255, 255, 255, 0.15) 97.08%);
opacity: 0.5;
filter: blur(75px);


/* Polygon 4 */

position: absolute;
width: 661px;
height: 1310px;
left: calc(50% - 661px/2 - 0.5px);
top: -575px;

background: linear-gradient(180deg, rgba(237, 210, 255, 0.375) 34.2%, rgba(255, 255, 255, 0.3) 100%);
mix-blend-mode: overlay;
filter: blur(72px);


/* Polygon 5 */

position: absolute;
width: 200px;
height: 852px;
left: calc(50% - 200px/2);
top: -133px;

background: linear-gradient(180deg, #EDD2FF 18.81%, rgba(255, 255, 255, 0.5) 95.53%);
mix-blend-mode: overlay;
filter: blur(72px);


/* Christmas Snow GIF by Luicella's Ice Cream 1 */

position: absolute;
width: 177px;
height: 316px;
left: calc(50% - 177px/2 - 0.5px);
top: -11px;

background: url(Christmas Snow GIF by Luicella's Ice Cream.png);
mix-blend-mode: color-dodge;
opacity: 0.75;
transform: rotate(-180deg);


/* Christmas Snow GIF by Luicella's Ice Cream 3 */

position: absolute;
width: 177px;
height: 316px;
left: calc(50% - 177px/2 - 174.5px);
top: 350px;

background: url(Christmas Snow GIF by Luicella's Ice Cream.png);
mix-blend-mode: color-dodge;
opacity: 0.65;
transform: rotate(-166.65deg);


/* Christmas Snow GIF by Luicella's Ice Cream 4 */

position: absolute;
width: 177px;
height: 316px;
left: calc(50% - 177px/2 + 61.14px);
top: 344.19px;

background: url(Christmas Snow GIF by Luicella's Ice Cream.png);
mix-blend-mode: color-dodge;
opacity: 0.65;
transform: rotate(157.12deg);


/* Christmas Snow GIF by Luicella's Ice Cream 2 */

position: absolute;
width: 252px;
height: 448px;
left: calc(50% - 252px/2 - 1px);
top: 271px;

background: url(Christmas Snow GIF by Luicella's Ice Cream.png);
mix-blend-mode: color-dodge;
opacity: 0.6;
transform: rotate(-180deg);


/* Frame 10 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 82px;
height: 51px;
left: calc(50% - 82px/2);
bottom: 1185px;



/* Scroll down */

width: 82px;
height: 19px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 120%;
/* or 19px */
text-align: center;

/* Green 1 */
color: #00FF15;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* iconoir:maps-arrow */

width: 24px;
height: 24px;

transform: rotate(-180deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 15.09%;
right: 15.09%;
top: 18.63%;
bottom: 18.84%;

/* Green 1 */
border: 1.5px solid #00FF15;
transform: rotate(-180deg);


/* Frame 4 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 32px;
gap: 32px;

position: absolute;
width: 600px;
height: 444px;
left: calc(50% - 600px/2);
top: calc(50% - 444px/2 - 597px);



/* Done! */

width: 536px;
height: 68px;

font-family: 'Advercase Demo';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 114%;
/* or 68px */
display: flex;
align-items: center;
text-align: center;

/* Green 1 */
color: #00FF15;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 39 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 536px;
height: 151px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 37 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 536px;
height: 151px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Your project is now safely stored forever — and this is its new home: */

width: 536px;
height: 22px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
text-align: center;

/* Whiteish */
color: #DCECDD;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 38 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 372px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 36 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 8px;

width: 372px;
height: 60px;

background: rgba(20, 27, 24, 0.5);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* https://lorem-ipsum.dolores/324152 */

width: 308px;
height: 28px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 140%;
/* identical to box height, or 28px */
display: flex;
align-items: center;
text-align: center;

/* Whiteish */
color: #DCECDD;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 40 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 95px;
height: 37px;

background: rgba(220, 236, 221, 0.1);
border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* How it works */

width: 63px;
height: 21px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
text-align: center;

/* Green 1 */
color: #00FF15;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 42 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 536px;
height: 97px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* No domain to register. No credit card required. No renewal reminders. Just a permanent home for your work. */

width: 536px;
height: 44px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
display: flex;
align-items: center;
text-align: center;

/* Whiteish */
color: #DCECDD;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 41 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 350px;
height: 37px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 29 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 178px;
height: 37px;

background: rgba(220, 236, 221, 0.1);
border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* How it works */

width: 146px;
height: 21px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
text-align: center;

/* Green 1 */
color: #00FF15;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 40 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 156px;
height: 37px;

background: rgba(220, 236, 221, 0.1);
border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* How it works */

width: 124px;
height: 21px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
text-align: center;

/* Green 1 */
color: #00FF15;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Mask group */

position: absolute;
width: 211.26px;
height: 20px;
left: calc(50% - 211.26px/2 - 0.37px);
top: 17px;



/* Group 12 */

position: absolute;
width: 211.26px;
height: 20px;
left: calc(50% - 211.26px/2 - 0.37px);
top: 17px;



/* Layer_1 */

position: absolute;
width: 39.9px;
height: 20px;
left: 853px;
top: 17px;



/* Vector */

position: absolute;
left: 0.15%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 9.23%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 18.99%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 28.75%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 38.32%;
right: 50.05%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 46.56%;
right: 50.04%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 49.96%;
right: 49.96%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.03%;
right: 0.15%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.04%;
right: 9.22%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.03%;
right: 18.99%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.03%;
right: 28.75%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.04%;
right: 38.32%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.03%;
right: 46.56%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.249618px solid #DCECDD;


/* Group 10 */

position: absolute;
width: 88.1px;
height: 20px;
left: 758px;
top: 17px;



/* Vector */

position: absolute;
left: 43.87%;
right: 55.37%;
top: 0.79%;
bottom: 98.3%;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
left: 44.63%;
right: 54.52%;
top: 0.99%;
bottom: 98.28%;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
left: 45.53%;
right: 53.98%;
top: 0.99%;
bottom: 98.3%;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
left: 46.02%;
right: 53.17%;
top: 0.99%;
bottom: 98.28%;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
left: 46.78%;
right: 52.34%;
top: 1.01%;
bottom: 98.3%;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
left: 47.61%;
right: 51.58%;
top: 0.99%;
bottom: 98.28%;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
left: 48.47%;
right: 51.04%;
top: 0.99%;
bottom: 98.3%;

/* Whiteish */
background: #DCECDD;


/* Group 11 */

position: absolute;
width: 69.6px;
height: 20px;
left: 899.66px;
top: 17px;



/* Vector */

position: absolute;
left: 52.06%;
right: 47.19%;
top: 0.79%;
bottom: 98.3%;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
left: 52.79%;
right: 46.37%;
top: 0.99%;
bottom: 98.28%;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
left: 53.58%;
right: 45.53%;
top: 1.01%;
bottom: 98.3%;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
left: 54.41%;
right: 44.78%;
top: 0.99%;
bottom: 98.28%;

/* Whiteish */
background: #DCECDD;


/* Vector */

position: absolute;
left: 55.27%;
right: 43.91%;
top: 0.79%;
bottom: 98.28%;

/* Whiteish */
background: #DCECDD;


/* Frame 34 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 0px 64px;
gap: 64px;

position: absolute;
width: 1728px;
height: 234px;
left: 0px;
top: 1923px;



/* Line 5 */

width: 1728px;
height: 0px;

border: 1px solid rgba(220, 236, 221, 0.25);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 33 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 26px;

width: 995.27px;
height: 106px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 32 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 12px;

width: 995.27px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Keep your work alive. Make it */

width: 417px;
height: 36px;

font-family: 'Advercase Demo';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 114%;
/* or 36px */
text-align: center;

/* Green 1 */
color: #00FF15;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Mask group */

width: 264.08px;
height: 25px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group 12 */

position: absolute;
width: 264.08px;
height: 25px;
left: calc(50% - 264.08px/2 + 214.5px);
top: 5.5px;



/* Layer_1 */

position: absolute;
width: 49.88px;
height: 25px;
left: 698.84px;
top: 5.5px;



/* Vector */

position: absolute;
left: 0.15%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.240017px solid #00FF15;


/* Vector */

position: absolute;
left: 9.23%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.240017px solid #00FF15;


/* Vector */

position: absolute;
left: 18.99%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.240017px solid #00FF15;


/* Vector */

position: absolute;
left: 28.75%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.240017px solid #00FF15;


/* Vector */

position: absolute;
left: 38.32%;
right: 50.04%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.240017px solid #00FF15;


/* Vector */

position: absolute;
left: 46.56%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.240017px solid #00FF15;


/* Vector */

position: absolute;
left: 49.97%;
right: 49.96%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.240017px solid #00FF15;


/* Vector */

position: absolute;
left: 50.03%;
right: 0.15%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.240017px solid #00FF15;


/* Vector */

position: absolute;
left: 50.04%;
right: 9.22%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.240017px solid #00FF15;


/* Vector */

position: absolute;
left: 50.03%;
right: 18.99%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.240017px solid #00FF15;


/* Vector */

position: absolute;
left: 50.03%;
right: 28.75%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.240017px solid #00FF15;


/* Vector */

position: absolute;
left: 50.04%;
right: 38.32%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.240017px solid #00FF15;


/* Vector */

position: absolute;
left: 50.03%;
right: 46.57%;
top: 0.3%;
bottom: 0.3%;

/* Green 1 */
border: 0.240017px solid #00FF15;


/* Group 10 */

position: absolute;
width: 110.12px;
height: 25px;
left: 580.1px;
top: 5.5px;



/* Vector */

position: absolute;
left: 58.29%;
right: 40.06%;
top: 15.28%;
bottom: 16.45%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 59.95%;
right: 38.22%;
top: 30.69%;
bottom: 15.28%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 61.9%;
right: 37.03%;
top: 30.69%;
bottom: 16.45%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 62.97%;
right: 35.28%;
top: 30.69%;
bottom: 15.28%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 64.6%;
right: 33.47%;
top: 31.86%;
bottom: 16.45%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 66.41%;
right: 31.84%;
top: 30.69%;
bottom: 15.28%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 68.28%;
right: 30.65%;
top: 30.69%;
bottom: 16.45%;

/* Green 1 */
background: #00FF15;


/* Group 11 */

position: absolute;
width: 87px;
height: 25px;
left: 757.18px;
top: 5.5px;



/* Vector */

position: absolute;
left: 76.08%;
right: 22.31%;
top: 15.28%;
bottom: 16.45%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 77.66%;
right: 20.52%;
top: 30.69%;
bottom: 15.28%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 79.36%;
right: 18.71%;
top: 31.86%;
bottom: 16.45%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 81.17%;
right: 17.07%;
top: 30.69%;
bottom: 15.28%;

/* Green 1 */
background: #00FF15;


/* Vector */

position: absolute;
left: 83.03%;
right: 15.18%;
top: 15.28%;
bottom: 15.28%;

/* Green 1 */
background: #00FF15;


/* Powered by Ario – decentralized storage backed by cryptographic proof.Built by builders, for builders. */

width: 995.27px;
height: 44px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
text-align: center;

/* Whiteish */
color: #DCECDD;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 35 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 158px;

position: absolute;
width: 1330px;
height: 527px;
left: 199px;
top: 1196px;



/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 32px;

margin: 0 auto;
width: 792px;
height: 460px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Forever Loved is a simple way to make sure the work you publish online never disappears. */

width: 792px;
height: 156px;

font-family: 'Advercase Demo';
font-style: normal;
font-weight: 700;
font-size: 46px;
line-height: 114%;
/* or 52px */

/* Green 1 */
color: #00FF15;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* When you archive a project it’s stored on the Permaweb, a decentralized network designed for long-term data storage. You can see it as the internet of permanent pages. Files are distributed across hundreds of independent nodes instead of a single server, which means they can’t be lost to expired domains, forgotten passwords, or a cloud provider going offline. The system uses a one-time payment model rather than monthly subscriptions, so your work stays accessible no matter what. For builders using Lovable, this service is currently free; a small thank-you from the Arweave ecosystem to every builder shaping and keeping the internet alive. */

width: 792px;
height: 176px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

/* Whiteish */
color: #DCECDD;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 13 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

margin: 0 auto;
width: 388px;
height: 527px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 18 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 16px;

width: 282px;
height: 97px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 12 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10.7143px;
gap: 5.36px;

width: 60px;
height: 60px;

/* Whiteish */
background: #DCECDD;
box-shadow: 0px 4.01786px 0px #161617;
border-radius: 10.7143px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* image 1 */

width: 38.57px;
height: 39.38px;

background: url(bg_removal [Background removed]);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Create and publish your build on Lovable. */

width: 282px;
height: 21px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
text-align: center;

/* Whiteish */
color: #DCECDD;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 1 */

width: 70px;
height: 0px;

/* Gray 1 */
border: 2px solid #5C675D;
transform: rotate(90deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 19 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 16px;

width: 342px;
height: 97px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Group 10 */

width: 148px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 3 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Green 1 */
background: #00FF15;
border-width: 2px 6px 6px 2px;
border-style: solid;
border-color: #141B18;
box-shadow: inset 1.6px 1.6px 1.6px #FFFFFF;


/* Forever */

position: absolute;
width: 160px;
left: calc(50% - 160px/2 + 0.8px);
top: 22.75%;
bottom: 25.49%;

font-family: 'Advercase Demo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* or 29px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

color: #141B18;



/* Paste your Lovable build URL and press “Forever”. */

width: 342px;
height: 21px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
text-align: center;

/* Whiteish */
color: #DCECDD;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 4 */

width: 70px;
height: 0px;

/* Gray 1 */
border: 2px solid #5C675D;
transform: rotate(90deg);

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Frame 20 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 16px;

width: 216px;
height: 97px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Layer_1 */

width: 119.72px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0.15%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 9.23%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 18.99%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 28.75%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 38.32%;
right: 50.04%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 46.57%;
right: 50.03%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 49.97%;
right: 49.96%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.03%;
right: 0.15%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.04%;
right: 9.22%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.03%;
right: 18.99%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.03%;
right: 28.75%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.04%;
right: 38.32%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Vector */

position: absolute;
left: 50.03%;
right: 46.57%;
top: 0.3%;
bottom: 0.3%;

/* Whiteish */
border: 0.748877px solid #DCECDD;


/* Your build is now part of infinity. */

width: 216px;
height: 21px;

font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
text-align: center;

/* Whiteish */
color: #DCECDD;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
